<link rel="stylesheet" href="/css/signUp.css">
 <h3>--Sign-up Form--</h3>
     <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Enter Your Name"><br>
        <input type="email" name="email" placeholder="Enter Your Email"><br>
        <input type="password"  name="password" placeholder="Enter Password"><br>
        <input type="password"  name="confirm_password" placeholder="Enter Confirm Password"><br>
        <input type="submit" value="Sign-Up" style="width: 130px; background-color: grey; color: white;">
     </form>
